body {
    font-family: $main-font;
    @media (min-width: $screen-lg-min) {
        overflow: hidden;
    }
    &.main-page-body {
        overflow: visible;   
    }
}
.header {
    margin-top: 5vh;    
    @media (min-width: $screen-lg-min) {
        padding: 0 30px;
    }
    @media (min-width: 1600px) {
        margin-top: 10vh;
    }
    @media (min-width: 1600px) {
        padding: 0 100px;
    }
    .navbar {
        @media (min-width: $screen-sm-min) {
            margin-bottom: 5vh;
        }
        @media (min-width: 1600px) {
            margin-bottom: 10vh;
        }
        .navbar-header {
            float: none;
            text-align: center;
            @media (min-width: $screen-lg-min) {
              float: left;
              text-align: center;
            }
            .navbar-brand {
                cursor: pointer;
                display: inline-block;
                float: none;
                height: auto;
                margin-left: 0;
                @media (min-width: $screen-lg-min) {
                  float: left;
                  margin-left: -15px;
                }
            }
            .navbar-toggle {
                border: 0;
                margin-top: 15px;
                .icon-bar {
                    background-color: #5196ef;
                }
            }
        }
        .navbar-collapse {
            @media (min-width: $screen-sm-min) {
              float: left;
            }
            @media (min-width: $screen-lg-min) {
              float: right;
            }
            .navbar-nav {
                margin-top: 7px;
                @media (min-width: $screen-sm-min) {
                  float: right;
                }
                li {
                    text-align: center;
                    @media (min-width: $screen-sm-min) {
                      text-align: left;
                    }
                    a {
                        color: #4f4f4f;
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 12px;
                        padding: 15px 0;
                        @media (min-width: $screen-md-min) {
                          font-size: 14.6px;
                          line-height: 14.6px;
                        }
                        &:hover {
                            background-color: transparent;
                        }
                        &:before {
                            content: '';
                            display: inline-block;
                            margin-right: 10px;
                            vertical-align: middle;
                            @media (min-width: 1300px) {
                              margin-right: 15px;
                            }
                        }
                        &.invest {
                            &:before {
                                background: url('../img/icon-invest.png') no-repeat;
                                height: 13px;
                                width: 17px;
                            }
                        }
                        &.cloud {
                            &:before {
                                background: url('../img/icon-cloud.png') no-repeat;
                                height: 14px;
                                width: 25px;
                            }
                        }
                        &.refer {
                            &:before {
                                background: url('../img/icon-refer.png') no-repeat;
                                height: 18px;
                                width: 12px;
                            }
                        }
                        &.tariff {
                            &:before {
                                background: url('../img/icon-tariff.png') no-repeat;
                                height: 15px;
                                width: 15px;
                            }
                        }
                        &.user {
                            &:before {
                                background: url('../img/icon-user.png') no-repeat;
                                height: 14px;
                                width: 15px;
                            }
                        }
                        &.service {
                            &:before {
                                background: url('../img/icon-service.png') no-repeat;
                                height: 12px;
                                width: 13px;
                            }
                        }
                        &.wallet {
                            &:before {
                                background: url('../img/icon-wallet.png') no-repeat;
                                height: 14px;
                                width: 13px;
                            }
                        }
                        &.news {
                            &:before {
                                background: url('../img/icon-news.png') no-repeat;
                                height: 14px;
                                width: 13px;
                            }
                        }
                        &.faq {
                            &:before {
                                background: url('../img/icon-faq.png') no-repeat;
                                height: 11px;
                                width: 14px;
                            }
                        }
                        &.language {
                            color: #a3a3a3;
                        }
                        span {
                            vertical-align: middle;
                        }
                    }
                    &.active {
                        a {
                            background-clip: text;
                            -webkit-background-clip: text;
                            background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #4d95ef), color-stop(1, #58c2c6));
                            background-image: gradient( linear, left top, right top, color-stop(0, #4d95ef), color-stop(1, #58c2c6));
                            color:transparent;
                            &.invest {
                                font-weight: 700;
                                &:before {
                                    background: url('../img/icon-invest-active.png') no-repeat;
                                }
                            }
                            &.cloud {
                                &:before {
                                    background: url('../img/icon-cloud-active.png') no-repeat;
                                }
                            }
                            &.refer {
                                &:before {
                                    background: url('../img/icon-refer-active.png') no-repeat;
                                }
                            }
                            &.tariff {
                                &:before {
                                    background: url('../img/icon-tariff-active.png') no-repeat;
                                }
                            }
                            &.user {
                                &:before {
                                    background: url('../img/icon-user-active.png') no-repeat;
                                }
                            }
                        }
                    }
                    &:not(:first-child) {                        
                        @media (min-width: $screen-sm-min) {
                          margin-left: 10px;
                        }
                        @media (min-width: $screen-lg-min) {
                          margin-left: 15px;
                        }
                        @media (min-width: 1300px) {
                          margin-left: 30px;
                        }
                        @media (min-width: 1400px) {
                          margin-left: 40px;
                        }
                        @media (min-width: 1500px) {
                          margin-left: 50px;
                        }
                        @media (min-width: 1600px) {
                          margin-left: 50px;
                        }
                        @media (min-width: 1700px) {
                          margin-left: 60px;
                        }
                        @media (min-width: 1800px) {
                          margin-left: 70px;
                        }
                    }
                    &.dropdown {
                        &:hover .dropdown-menu {                            
                            @media (min-width: $screen-sm-min) {
                              display: block;
                            }
                        }
                        .dropdown-menu {
                            border: 0;
                            border-radius: 20px;
                            box-shadow: 2px 2px 54px 0px rgba(0, 0, 0, 0.08);
                            left: -26px;
                            padding: 20px 0;
                            top: -19px;
                            li {
                                margin: 0;
                                text-align: center;
                                a {
                                    &.user {
                                        &:before {
                                            margin-left: -1px;
                                            margin-top: -3px;
                                            padding-right: 1px;
                                        }
                                    }
                                    &.settings {
                                        &:before {
                                            background: url('../img/icon-settings.png') no-repeat;
                                            content: '';
                                            display: inline-block;
                                            height: 15px;
                                            vertical-align: middle;
                                            width: 17px;
                                        }
                                    }
                                    &.security {
                                        &:before {
                                            background: url('../img/icon-security.png') no-repeat;
                                            content: '';
                                            display: inline-block;
                                            height: 20px;
                                            vertical-align: middle;
                                            width: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.dashboard-language {
                        .language-left {
                            float: left;
                            font-size: 16px;
                            line-height: 16px;
                            margin-top: 0;
                            position: absolute;
                            top: 25px;
                            @media (min-width: $screen-sm-min) {
                                top: 0;
                            }
                            @media (min-width: $screen-lg-min) {
                                float: left;
                                padding: 15px 0;
                                position: static;
                            }
                            li {
                                margin-left: 0;
                                a {
                                    color: #070a07;
                                    letter-spacing: .6px;
                                    outline: 0;
                                    text-decoration: none;
                                    &:hover, &:focus {
                                        background-color: transparent;
                                    }
                                    &.dropdown-toggle {
                                        font-weight: 700;
                                        padding: 10px 10px 10px 0;
                                        @media (min-width: $screen-xs-min) {
                                            padding: 10px 15px;
                                        }
                                        @media (min-width: $screen-sm-min) {
                                            padding: 3px 15px;
                                        }
                                        @media (min-width: $screen-md-min) {
                                            padding: 1px 15px;
                                        }
                                        @media (min-width: $screen-lg-min) {
                                            padding: 0;
                                        }
                                    }
                                }
                                &.open {
                                    a {
                                        background-color: transparent;
                                        padding-bottom: 12px;
                                        &.dropdown-toggle {
                                            &:after {
                                                margin-right: 10px;
                                                -ms-transform: rotate(180deg);
                                                -webkit-transform: rotate(180deg);
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                                .dropdown-menu {
                                    background-color: #fff;
                                    border: 0;
                                    box-shadow: none;
                                    min-width: 0;
                                    padding: 0;
                                    @media (min-width: $screen-sm-min) {
                                        left: -8px;
                                    }
                                    @media (min-width: $screen-lg-min) {
                                        left: -13px;
                                    }
                                    li {
                                        background-color: #fff;
                                        a {
                                            color: rgba(7, 10, 7, 0.239);
                                            font-size: 16px;
                                            line-height: 16px;
                                            padding: 6px 15px;
                                        }
                                    }
                                }
                            }
                            &>li {
                                float: none;
                                @media (min-width: $screen-lg-min) {
                                  float: left;
                                }
                            }
                        }
                    }
                    .amount-line {
                        background-color: #4d9af3;
                        display: inline-block;
                        height: 1px;
                        margin: 0 10px 4px;
                        width: 15px;
                        @media (min-width: $screen-lg-min) {
                          width: 65px;
                        }
                    }
                    .user-amount {
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #7db9e8), color-stop(0.52, #4e39da), color-stop(1, #9b4abf));
                        background-image: gradient( linear, left top, right top, color-stop(0, #7db9e8), color-stop(0.52, #4e39da), color-stop(1, #9b4abf));
                        color:transparent;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    &.dashboard {
        margin-top: 15px;
        @media (min-width: $screen-sm-min) {
            margin-top: 5vh;
        }
        .navbar {
            .navbar-header {
                text-align: left;
                @media (min-width: $screen-sm-min) {
                    text-align: center;
                }
                .navbar-toggle {
                    margin-top: 14px;
                    span {
                        background-image: -moz-linear-gradient(-165deg, #4691ee 0%, #4ca9d9 25%, #51c0c4 100%);
                        background-image: -webkit-linear-gradient(-165deg, #4691ee 0%, #4ca9d9 25%, #51c0c4 100%);
                        background-image: -ms-linear-gradient(-165deg, #4691ee 0%, #4ca9d9 25%, #51c0c4 100%);
                        border-radius: 12px;
                        height: 3px;
                        width: 19px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    &.mobile-menu {
                        li {
                            text-align: left;
                            &:not(:last-child) {
                                border-bottom: 1px solid rgba(229, 237, 242, 0.251);
                            }
                            a {
                                font-size: 12.7px;
                                font-weight: 500;
                                line-height: 12.7px;
                                &.mobile-left {
                                    background-image: -moz-linear-gradient( -165deg, rgb(70,145,238) 0%, rgb(76,169,217) 25%, rgb(81,192,196) 100%);
                                    background-image: -webkit-linear-gradient( -165deg, rgb(70,145,238) 0%, rgb(76,169,217) 25%, rgb(81,192,196) 100%);
                                    background-image: -ms-linear-gradient( -165deg, rgb(70,145,238) 0%, rgb(76,169,217) 25%, rgb(81,192,196) 100%);
                                    height: 80px;
                                    padding: 0;
                                    text-align: center;
                                    width: 80px;
                                    -webkit-background-clip: inherit;
                                    &:before {
                                        content: '';
                                        display: inline-block;
                                        height: 100%;
                                        margin: 0;
                                        vertical-align: middle;
                                    }
                                    &.btc {
                                        img {
                                            width: 15px;
                                        }
                                    }
                                    &.atb {
                                        img {
                                            width: 17px;
                                        }
                                    }
                                    &.eth {
                                        img {
                                            width: 15px;
                                        }
                                    }
                                    &.ltc {
                                        img {
                                            width: 15px;
                                        }
                                    }
                                    &.zec {
                                        img {
                                            width: 15px;
                                        }
                                    }
                                    &.usd {
                                        img {
                                            width: 12px;
                                        }
                                    }
                                }
                                &.dropdown-toggle, &.invest, &.cloud, &.refer, &.tariff, &.logout {
                                    margin-left: 45px;
                                    &:before {
                                        background-size: 100%;
                                        margin-right: 20px;
                                    }
                                }
                                &.dropdown-toggle {
                                    &:before {
                                        background: url('../img/icon-user-mobile.png') no-repeat;
                                        background-size: 100%;
                                        height: 12px;
                                        width: 13px;
                                    }
                                }
                                &.invest {
                                    &:before {
                                        background: url('../img/icon-invest-active-mobile.png') no-repeat;
                                        background-size: 100%;
                                        height: 10px;
                                        width: 13px;
                                    }
                                }
                                &.cloud {
                                    &:before {
                                        background: url('../img/icon-cloud-mobile.png') no-repeat;
                                        background-size: 100%;
                                        height: 10px;
                                        width: 17px;
                                        margin-right: 16px;
                                    }
                                }
                                &.refer {
                                    &:before {
                                        background: url('../img/icon-refer-mobile.png') no-repeat;
                                        background-size: 100%;
                                        height: 16px;
                                        width: 10px;
                                        margin-right: 23px;
                                    }
                                }
                                &.tariff {
                                    &:before {
                                        background: url('../img/icon-tariff-mobile.png') no-repeat;
                                        background-size: 100%;
                                        height: 13px;
                                        width: 13px;
                                    }
                                }
                                &.logout {
                                    color: #d2d2d3;
                                    &:before {
                                        background: url('../img/logout-icon.png') no-repeat;
                                        background-size: 100%;
                                        height: 13px;
                                        width: 16px;
                                        margin-right: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.main-page-body {
    .header {
        background-color: #fff;
        left: 0;
        margin-top: 0;
        position: fixed;
        right: 0;
        z-index: 2;
        .navbar {
            margin-bottom: 0;
            padding: 25px 0;
            .navbar-header {
                .navbar-toggle {
                    border: 0;
                    span {
                        background-color: #5196ef;
                    }
                }
                .navbar-brand {
                    padding-left: 60px;
                    @media (min-width: $screen-sm-min) {
                        padding-left: inherit;
                    }
                    img {
                        margin-top: 2px;
                        width: 170px;
                    }
                }
                .language-left {
                    float: left;
                    font-size: 16px;
                    line-height: 16px;
                    margin-left: 20px;
                    position: absolute;
                    top: 25px;
                    @media (min-width: $screen-sm-min) {
                        margin-left: 50px;
                    }
                    @media (min-width: $screen-lg-min) {
                        float: left;
                        margin-left: 20px;
                        position: static;
                    }
                    @media (min-width: 1400px) {
                        margin-left: 60px;
                    }
                    li {                        
                        a {
                            color: #070a07;
                            letter-spacing: .6px;
                            outline: 0;
                            text-decoration: none;
                            &:hover, &:focus {
                                background-color: transparent;
                            }
                            &.dropdown-toggle {
                                margin-top: 7px;
                                padding: 10px 10px 10px 0;
                                @media (min-width: $screen-xs-min) {
                                    padding: 10px 15px;
                                }
                                @media (min-width: $screen-lg-min) {
                                    padding: 15px;
                                }
                                &:after {
                                    background: url('../img/dropdown-arrow.png') no-repeat;
                                    content: '';
                                    display: inline-block;
                                    height: 5px;
                                    margin-left: 5px;
                                    vertical-align: middle;
                                    width: 10px;
                                    @media (min-width: $screen-xs-min) {
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                        &.open {
                            a {
                                background-color: transparent;
                                padding-bottom: 12px;
                                &.dropdown-toggle {
                                    &:after {
                                        margin-right: 10px;
                                        -ms-transform: rotate(180deg);
                                        -webkit-transform: rotate(180deg);
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                        .dropdown-menu {
                            background-color: #fff;
                            border: 0;
                            box-shadow: none;
                            min-width: 0;
                            padding: 0;
                            li {
                                background-color: #fff;
                                a {
                                    color: rgba(7, 10, 7, 0.239);
                                    font-size: 16px;
                                    line-height: 16px;
                                    padding: 6px 15px;
                                }
                            }
                        }
                    }
                    &>li {
                        float: none;
                        @media (min-width: $screen-lg-min) {
                          float: left;
                        }
                    }
                }
            }
            .navbar-collapse {
                @media (min-width: $screen-sm-min) {
                    float: none;
                }
                @media (min-width: $screen-lg-min) {
                    float: right;
                }
                .navbar-nav {
                    @media (min-width: $screen-sm-min) {
                        float: none;
                        text-align: center;
                    }
                    @media (min-width: $screen-lg-min) {
                        float: right;
                        text-align: left;
                    }
                    li {
                        @media (min-width: $screen-sm-min) {
                            display: inline-block;
                            float: none;
                        }
                        @media (min-width: $screen-lg-min) {
                            display: list-item;
                            float: left;
                        }
                        a {
                            color: #070a07;
                            font-size: 14px;
                            letter-spacing: 1.3px;
                            line-height: 16px;
                            @media (min-width: 1500px) {
                                font-size: 16px;
                            }
                            &:before {
                                margin-right: 6px;
                                @media (min-width: 1400px) {
                                  margin-right: 11px;
                                }
                            }
                        }
                        &:not(:first-child) {
                            @media (min-width: $screen-sm-min) {
                              margin-left: 15px;
                            }
                            @media (min-width: $screen-md-min) {
                              margin-left: 25px;
                            }
                            @media (min-width: 1400px) {
                              margin-left: 45px;
                            }
                        }
                        &.login, &.registration {
                            font-weight: 600;                            
                            @media (min-width: $screen-sm-min) {
                              margin-left: 25px;
                            }
                            @media (min-width: $screen-md-min) {
                              margin-left: 35px;
                            }
                            @media (min-width: 1400px) {
                              margin-left: 60px;
                            }
                            a {
                                background: transparent !important;
                                outline: 0 !important;
                                &:before {
                                    content: none;
                                }
                            }
                        }
                        &.registration {
                            margin-left: 0;
                            a {
                                color: #51bdc7;
                            }
                        }
                        &.user-section {
                            img {
                                border-radius: 50%;
                                height: 48px;
                                margin-right: 20px;
                                width: 48px;
                            }
                            .user-name {
                                color: #070a07;
                                display: inline-block;
                                font-size: 16px;
                                font-weight: 600;
                                letter-spacing: 1.3px;
                                line-height: 16px;
                            }
                        }
                    }
                    .tablet-login {
                        position: absolute;
                        right: 1%;
                        top: 33px;
                        width: 280px;
                        @media (min-width: 900px) {
                            right: 5%;
                        }
                        li {
                            display: inline-block;
                        }
                        .vertical-divider {
                            float: none;
                        }
                    }
                    .vertical-divider {
                        background-color: #070a07;
                        display: inline-block;
                        float: left;
                        height: 13px;
                        margin: 16px 15px 0;
                        width: 3px;
                    }
                }
            }
        }
    }
}

body.referral-page {
    .header {
        margin-top: 5vh;
        @media (min-width: 1600px) {
            margin-top: 7vh;
        }
    }
}